# Pré processamento de dados

# Importação das bibliotecas básicas

In [1]:
import pandas as pd
import numpy as np

### Exploração dos dados

In [2]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [3]:
base_census = pd.read_csv('census.csv')

In [4]:
base_census

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
base_census.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
base_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   final-weight    32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loos    32561 non-null  int64
 12  hour-per-week   32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
base_census.isnull().sum()
base_census.isna().sum()

age               0
workclass         0
final-weight      0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loos      0
hour-per-week     0
native-country    0
income            0
dtype: int64

## Divisão entre previsores e classe

In [7]:
base_census.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [8]:
X_census = base_census.iloc[:, 0:14].values
X_census[:,1]

array([' State-gov', ' Self-emp-not-inc', ' Private', ..., ' Private',
       ' Private', ' Self-emp-inc'], dtype=object)

In [9]:
type(X_census)

numpy.ndarray

In [10]:
y_census = base_census.iloc[:,14].values

In [11]:
type(y_census)

numpy.ndarray

## Tratamento de atributos categóricos

### LabelEncoder

In [12]:
base_census.head(10)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [14]:
base_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   final-weight    32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loos    32561 non-null  int64
 12  hour-per-week   32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [15]:
from sklearn.preprocessing import LabelEncoder
le_teste = LabelEncoder()

In [16]:
X_census[:,1]

array([' State-gov', ' Self-emp-not-inc', ' Private', ..., ' Private',
       ' Private', ' Self-emp-inc'], dtype=object)

In [17]:
teste = le_teste.fit_transform(X_census[:,1])

In [18]:
teste

array([7, 6, 4, ..., 4, 4, 5])

In [19]:
le_workclass = LabelEncoder()
le_education = LabelEncoder()
le_marital = LabelEncoder
le_occupation = LabelEncoder()
le_relationship = LabelEncoder()
le_race = LabelEncoder()
le_sex = LabelEncoder()
le_country = LabelEncoder()

In [20]:
X_census[:,1] = le_workclass.fit_transform(X_census[:,1])
X_census[:,3] = le_workclass.fit_transform(X_census[:,3])
X_census[:,5] = le_workclass.fit_transform(X_census[:,5])
X_census[:,6] = le_workclass.fit_transform(X_census[:,6])
X_census[:,7] = le_workclass.fit_transform(X_census[:,7])
X_census[:,8] = le_workclass.fit_transform(X_census[:,8])
X_census[:,9] = le_workclass.fit_transform(X_census[:,9])
X_census[:,13] = le_workclass.fit_transform(X_census[:,13])

In [21]:
base_census = pd.read_csv('census.csv')

In [22]:
for i in base_census.columns:
    if base_census[i].dtype == 'object':
        base_census[i] = LabelEncoder().fit_transform(base_census[i])

### OneHotEncoder

In [23]:
base_census = pd.read_csv('census.csv')

In [24]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
object_list = []
for i in base_census.columns:
    if base_census[i].dtype == 'object':
        object_list.append(i)

In [26]:
object_list

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'income']

In [27]:
ordinalEncoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-99).fit(base_census[object_list])
base_census[object_list] = ordinalEncoder.transform(base_census[object_list])

In [28]:
base_census

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,7.0,77516,9.0,13,4.0,1.0,1.0,4.0,1.0,2174,0,40,39.0,0.0
1,50,6.0,83311,9.0,13,2.0,4.0,0.0,4.0,1.0,0,0,13,39.0,0.0
2,38,4.0,215646,11.0,9,0.0,6.0,1.0,4.0,1.0,0,0,40,39.0,0.0
3,53,4.0,234721,1.0,7,2.0,6.0,0.0,2.0,1.0,0,0,40,39.0,0.0
4,28,4.0,338409,9.0,13,2.0,10.0,5.0,2.0,0.0,0,0,40,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4.0,257302,7.0,12,2.0,13.0,5.0,4.0,0.0,0,0,38,39.0,0.0
32557,40,4.0,154374,11.0,9,2.0,7.0,0.0,4.0,1.0,0,0,40,39.0,1.0
32558,58,4.0,151910,11.0,9,6.0,1.0,4.0,4.0,0.0,0,0,40,39.0,0.0
32559,22,4.0,201490,11.0,9,4.0,1.0,3.0,4.0,1.0,0,0,20,39.0,0.0
32560,52,5.0,287927,11.0,9,2.0,4.0,5.0,4.0,0.0,15024,0,40,39.0,1.0

In [29]:
import pickle
pickle.dump(ordinalEncoder, open("ordinal_encoder.pkl", 'wb'))

In [30]:
encoder = pickle.load(open('ordinal_encoder.pkl' , 'rb'))

In [31]:
base_census = pd.read_csv('census.csv')
base_census

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [32]:
base_census[object_list] = encoder.transform(base_census[object_list])

In [33]:
base_census

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,7.0,77516,9.0,13,4.0,1.0,1.0,4.0,1.0,2174,0,40,39.0,0.0
1,50,6.0,83311,9.0,13,2.0,4.0,0.0,4.0,1.0,0,0,13,39.0,0.0
2,38,4.0,215646,11.0,9,0.0,6.0,1.0,4.0,1.0,0,0,40,39.0,0.0
3,53,4.0,234721,1.0,7,2.0,6.0,0.0,2.0,1.0,0,0,40,39.0,0.0
4,28,4.0,338409,9.0,13,2.0,10.0,5.0,2.0,0.0,0,0,40,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4.0,257302,7.0,12,2.0,13.0,5.0,4.0,0.0,0,0,38,39.0,0.0
32557,40,4.0,154374,11.0,9,2.0,7.0,0.0,4.0,1.0,0,0,40,39.0,1.0
32558,58,4.0,151910,11.0,9,6.0,1.0,4.0,4.0,0.0,0,0,40,39.0,0.0
32559,22,4.0,201490,11.0,9,4.0,1.0,3.0,4.0,1.0,0,0,20,39.0,0.0
32560,52,5.0,287927,11.0,9,2.0,4.0,5.0,4.0,0.0,15024,0,40,39.0,1.0

### OneHotEncoder

In [40]:
from sklearn.preprocessing import OneHotEncoder

In [66]:
base_census = pd.read_csv('census.csv')

In [53]:
enc = OneHotEncoder()

In [54]:
x = base_census.loc[:,['workclass','education','occupation']]

In [55]:
df = pd.DataFrame(data = x)
df

               workclass    education          occupation
0              State-gov    Bachelors        Adm-clerical
1       Self-emp-not-inc    Bachelors     Exec-managerial
2                Private      HS-grad   Handlers-cleaners
3                Private         11th   Handlers-cleaners
4                Private    Bachelors      Prof-specialty
...                  ...          ...                 ...
32556            Private   Assoc-acdm        Tech-support
32557            Private      HS-grad   Machine-op-inspct
32558            Private      HS-grad        Adm-clerical
32559            Private      HS-grad        Adm-clerical
32560       Self-emp-inc      HS-grad     Exec-managerial

[32561 rows x 3 columns]

In [56]:
len(np.unique(df['workclass']))

9

In [57]:
len(np.unique(df['education']))

16

In [58]:
len(np.unique(df['occupation']))

15

In [59]:
df.drop(df.index[10:], inplace=True)

In [60]:
df

           workclass   education          occupation
0          State-gov   Bachelors        Adm-clerical
1   Self-emp-not-inc   Bachelors     Exec-managerial
2            Private     HS-grad   Handlers-cleaners
3            Private        11th   Handlers-cleaners
4            Private   Bachelors      Prof-specialty
5            Private     Masters     Exec-managerial
6            Private         9th       Other-service
7   Self-emp-not-inc     HS-grad     Exec-managerial
8            Private     Masters      Prof-specialty
9            Private   Bachelors     Exec-managerial

In [61]:
df = enc.fit_transform(df).toarray()

In [62]:
df

array([[0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0.]])

In [63]:
df.shape

(10, 13)

In [ ]:
object_list = []
for i in base_census.columns:
    if base_census[i].dtype == 'object':
        object_list.append(i)

In [64]:
df = enc.fit_transform(base_census[object_list]).toarray()

In [65]:
df.shape

(32561, 104)

## Escalonamento dos valores

In [76]:
base_census = pd.read_csv('census.csv')

In [ ]:
df2 = pd.get_dummies(base_census['sex'], drop_first= True)

In [ ]:
df2

## Escalonamento dos valores

##### Standard Scaler

In [86]:
base_census = pd.read_csv('census.csv')

In [ ]:
# y = (x – mean) / standard_deviation

In [87]:
from sklearn.preprocessing import StandardScaler
scaler_census = StandardScaler()

In [88]:
base_census[object_list] = encoder.transform(base_census[object_list])

In [89]:
base_census

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,7.0,77516,9.0,13,4.0,1.0,1.0,4.0,1.0,2174,0,40,39.0,0.0
1,50,6.0,83311,9.0,13,2.0,4.0,0.0,4.0,1.0,0,0,13,39.0,0.0
2,38,4.0,215646,11.0,9,0.0,6.0,1.0,4.0,1.0,0,0,40,39.0,0.0
3,53,4.0,234721,1.0,7,2.0,6.0,0.0,2.0,1.0,0,0,40,39.0,0.0
4,28,4.0,338409,9.0,13,2.0,10.0,5.0,2.0,0.0,0,0,40,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4.0,257302,7.0,12,2.0,13.0,5.0,4.0,0.0,0,0,38,39.0,0.0
32557,40,4.0,154374,11.0,9,2.0,7.0,0.0,4.0,1.0,0,0,40,39.0,1.0
32558,58,4.0,151910,11.0,9,6.0,1.0,4.0,4.0,0.0,0,0,40,39.0,0.0
32559,22,4.0,201490,11.0,9,4.0,1.0,3.0,4.0,1.0,0,0,20,39.0,0.0
32560,52,5.0,287927,11.0,9,2.0,4.0,5.0,4.0,0.0,15024,0,40,39.0,1.0

In [90]:
X_census = scaler_census.fit_transform(base_census)

In [91]:
X_census

array([[ 0.03067056,  2.15057856, -1.06361075, ..., -0.03542945,
         0.29156857, -0.56319851],
       [ 0.83710898,  1.46373585, -1.008707  , ..., -2.22215312,
         0.29156857, -0.56319851],
       [-0.04264203,  0.09005041,  0.2450785 , ..., -0.03542945,
         0.29156857, -0.56319851],
       ...,
       [ 1.42360965,  0.09005041, -0.35877741, ..., -0.03542945,
         0.29156857, -0.56319851],
       [-1.21564337,  0.09005041,  0.11095988, ..., -1.65522476,
         0.29156857, -0.56319851],
       [ 0.98373415,  0.77689313,  0.92989258, ..., -0.03542945,
         0.29156857,  1.77557289]])


##### Escalonar

In [ ]:
# y = (x – min) / (max – min)

In [95]:
base_census = pd.read_csv('census.csv')

In [96]:
from sklearn.preprocessing import MinMaxScaler
nM = MinMaxScaler()

In [98]:
base_census[object_list] = encoder.transform(base_census[object_list])

In [99]:
min_max_census = nM.fit_transform(base_census)

In [100]:
data = nM.fit_transform(X_census)

In [101]:
data

array([[0.30136986, 0.875     , 0.0443019 , ..., 0.39795918, 0.95121951,
        0.        ],
       [0.45205479, 0.75      , 0.0482376 , ..., 0.12244898, 0.95121951,
        0.        ],
       [0.28767123, 0.5       , 0.13811345, ..., 0.39795918, 0.95121951,
        0.        ],
       ...,
       [0.56164384, 0.5       , 0.09482688, ..., 0.39795918, 0.95121951,
        0.        ],
       [0.06849315, 0.5       , 0.12849934, ..., 0.19387755, 0.95121951,
        0.        ],
       [0.47945205, 0.625     , 0.18720338, ..., 0.39795918, 0.95121951,
        1.        ]])