In [1]:
import numpy as np
import pandas as pd
#import pydotplus
from IPython.display import Image
from sklearn import tree
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [78]:
forest = pd.read_csv('iforest_projetct.csv')
forest

,Unnamed: 0,H,M,S,Nome,Maquina,IP,Anomalia,Fator_risco
0,0,16,29,4,theteacher@empresax.COM.BR,empresaxLAB02$,192.168.100.57,0,9.976591
1,1,14,12,4,pogó@empresax.COM.BR,empresaxLAB05$,192.168.100.66,0,0.135956
2,2,12,55,4,jinx@empresax.COM.BR,empresaxLAB03$,192.168.100.60,0,23.724740
3,3,18,22,4,kael-el@empresax.COM.BR,empresaxWKSLEN02$,192.168.100.55,0,7.539249
4,4,12,3,4,maryjane@empresax.COM.BR,empresaxLAB04$,192.168.100.58,0,24.796953
...,...,...,...,...,...,...,...,...,...
1097,1097,18,18,3,kael-el@empresax.COM.BR,empresaxWKSLEN02$,192.168.100.54,0,2.320827
1098,1098,19,4,3,theteacher@empresax.COM.BR,empresaxLAB02$,192.168.100.58,0,52.354812
1099,1099,13,53,3,dora@empresax.COM.BR,empresaxNOTE-LAB03$,192.168.100.60,0,28.734630
1100,1100,14,30,3,backwidow@empresax.COM.BR,empresaxWKSS06$,192.168.100.68,0,6.448798
1101,1101,18,27,3,maryjane@empresax.COM.BR,empresaxLAB04$,192.168.100.62,0,9.640242

In [12]:
forest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1102 non-null   int64
 1   H            1102 non-null   int64
 2   M            1102 non-null   int64
 3   S            1102 non-null   int64
 4   Nome         1102 non-null   object
 5   Maquina      1102 non-null   object
 6   IP           1102 non-null   object
 7   Anomalia     1102 non-null   int64
 8   Fator_risco  1059 non-null   float64
dtypes: float64(1), int64(5), object(3)
memory usage: 77.6+ KB

In [79]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()
forest[["Nome","Maquina", "IP"]] = enc.fit_transform(forest[["Nome","Maquina", "IP"]])

In [80]:
forest

      Unnamed: 0   H   M  S  Nome  Maquina    IP  Anomalia  Fator_risco
0              0  16  29  4  13.0      2.0   6.0         0     9.976591
1              1  14  12  4  11.0      5.0  15.0         0     0.135956
2              2  12  55  4   4.0      3.0   9.0         0    23.724740
3              3  18  22  4   5.0     13.0   4.0         0     7.539249
4              4  12   3  4   8.0      4.0   7.0         0    24.796953
...          ...  ..  .. ..   ...      ...   ...       ...          ...
1097        1097  18  18  3   5.0     13.0   3.0         0     2.320827
1098        1098  19   4  3  13.0      2.0   7.0         0    52.354812
1099        1099  13  53  3   2.0      6.0   9.0         0    28.734630
1100        1100  14  30  3   0.0     14.0  17.0         0     6.448798
1101        1101  18  27  3   8.0      4.0  11.0         0     9.640242

[1102 rows x 9 columns]

In [118]:
def sla(x):
    if x > 10:
        return 1
    elif x > 20:
        return 2
    elif x > 30:
        return 3
    elif x > 40:
        return 4
    elif x > 50:
        return 5
    elif x > 60:
        return 6
    elif x > 70:
        return 7
    elif x > 80:
        return 8
    elif x > 90:
        return 9
    else:
        return 10

In [119]:
forest['Fator_risco'] = sla(forest['Fator_risco'].values)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [110]:
forest['Fator_risco'].values

array([ 9.97659072,  0.1359556 , 23.72473995, ..., 28.73463029,
        6.44879751,  9.64024201])

In [21]:
#forest_categ = ['Nome', 'IP', 'Maquina']
#final_data = pd.get_dummies(forest, columns = forest_categ, drop_first = True)
#final_data.info()

In [22]:
#final_data